.semester-courses {
    margin: 10px;
    padding: 20px;
    border: 10px solid #ddd;
    border-radius: 40px;
}

.insert-Plan {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.insert-Plan:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.remove-currentPlan {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.remove-currentPlan:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.insert-newSemster {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.insert-newSemster:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.clear-allSemesters {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.clear-allSemesters:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.skip-Button {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #826e6e;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.skip-Button:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.clear-coursesSemesters {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #826e6e;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.clear-coursesSemesters:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.insert-newCourse {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #826e6e;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.insert-newCourse:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.remove-Semester {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #826e6e;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 14px;
    margin-left: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.remove-Semester:hover {
    background-color: #a9a9a9;
    font-size: 15px;
}

.remove-course {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 15px;
    margin-top: 10px;
    width: 126px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.remove-course:hover {
    background-color: #a9a9a9;
    font-size: 16px;
}

.move-course {
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 15px;
    margin-top: 10px;
    width: 110px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.move-course:hover {
    background-color: #a9a9a9;
    font-size: 16px;
}

.edit-courses {
    border-radius: 20px;
    padding: 2px 10px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 15px;
    margin-bottom: 4px;
    width: 110px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.edit-courses:hover {
    background-color: #a9a9a9;
    font-size: 16px;
}

.reset-course {
    border-radius: 20px;
    padding: 2px 8px;
    background-color: #ddd;
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 15px;
    margin-top: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin-top: 5px;
    width: 110px;
}

.reset-course:hover {
    background-color: #a9a9a9;
    font-size: 16px;
}
.move-button {
    border-radius: 20px;
    padding: 2px 10px;
    background-color: rgb(240, 240, 236);
    color: #010210;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 1s;
    font-size: 15px;
    margin-top: 10px;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.move-button:hover {
    background-color: #a9a9a9;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    border: 6px solid #ede9e9;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ffff99;
}

tr:nth-child(1) {
    background-color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #d4f4ec;
}

.search-bar input {
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 750px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-bar select {
    text-align: center;
    margin-left: 370px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 250px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-bar input:hover {
    background-color: #eae9e9;
    font-size: 16px;
}

.search-bar select:hover {
    background-color: #eae9e9;
    font-size: 16px;
}

.plan-buttons {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #e7d2ae;
    background-color: rgb(253, 210, 167);
    border-radius: 15px;
    padding: 10px;
}

.plan-buttons:hover {
    font-size: 16px;
}

.plan-buttons select {
    text-align: center;
    margin-left: 10px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 250px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.plan-buttons select:hover {
    background-color: #eae9e9;
    font-size: 16px;
}

.seasons-header {
    border: 2px solid #ccc;
    border-radius: 25px;
    margin-bottom: 30px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.semester-buttons {
    display: flex;
    align-items: center;
    border: 2px solid #b9acac;
    background-color: #eae9e9;
    padding: 10px;
    border-radius: 25px;
}

.button-container {
    margin-left: 10px;
    display: flex;
    text-align: center;
}

.arrow-icon {
    display: inline-block;
    transition: transform 0ms;
}

.rotate {
    transform: rotate(90deg);
}

.course-list-container {
    max-height: 200px;
    max-width: 760px;
    overflow-y: auto;
    border: 2px solid #ddd;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-left: 945px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.move-Dropdown select {
    text-align: center;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 250px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.move-Dropdown select:hover {
    background-color: #eae9e9;
    font-size: 17px;
}
